@model FoodApp.Models.Restaurant

@{
    ViewData["Title"] = "Restaurant confirmation";
}

<h1>Restaurant confirmation</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Confirm" asp-route-id="@Model.Id">Confirm</a> |
    <a asp-action="RequestList">Back to List</a>
</div>
